
extends ../layout.jade
block content
    .container(style='padding-top: 150px;') 
      
        div.row
            div.col-md-3.col-sm-3.hidden-xs
            div.col-md-6.col-sm-6.col-xs-12
                div#react-root!= react
            div.col-md-3.col-sm-3.hidden-xs        
        
      
 block pagescripts 
        script(src="/socket.io/socket.io.js")
        script(src='/js/build/bundle.js') 
        script.
            function createCarousel(){
                $('.carousel').carousel({interval: false});
            }
            $().ready(function() {
               var renderedComponent= ReactRenderers.renderSlideshow('react-root','#{userid}','#{slideshowid}');
                $('.carousel').carousel({
                    interval: false
                });
                
               
            
                var socket = io();
                socket.on('connect',function(){
                
                    });
                socket.on('connect_error',function(err){
                
                });
                socket.on('DisplaySlackMessage', function(msg){
                if(msg.slideshow.creator==='#{userid}'){
                    renderedComponent.updateState(msg);
                    return;
                    $('.carousel  div.item').removeClass('active');
                    if(msg.isImage){
                     $('.carousel-inner').append($(`<div class='item active'><img src='${msg.src}'/></div>`));
                    }else{
                         $('.carousel-inner').append($(`<div style="" class="item active slideContainer"><div class="slide">${msg.text}</div></div>`));
                    }
                }
            });
            });
     